@page "/"
@layout EmptyLayout
@using ManufacturingManager.Core
@using ManufacturingManager.Core.Repositories
@using ManufacturingManager.Web.Components.Layout
@using ManufacturingManager.Web.Configuration
@using ManufacturingManager.Web.Data
@using ManufacturingManager.Web.Services
@inject IdentityInformation Identity
@inject IUsersRepository  UsersRepository
@inject NavigationManager _navigationManager
@inject ProtectedSessionStorage ProtectedSessionStorage 
@inject AppSettings MyAppSettings
@inject IHttpContextAccessor  HttpContextAccessor  
@rendermode  InteractiveServer
@inject UserLogged _currentUser
@inject IUsersRepository _usersRepository
@inject AuthenticationStateProvider _authenticationStateProvider
@inject ILoggingService LoggingService

<PageTitle>Quality Assurance Manager</PageTitle>
<div class="mx-4">
    <div class="row" >
        <div class="col-12">
            <div class="card">
                <div class="card-header bottom-spacing-10">
                    @* <img src="images/fsc-alert-icon-danger.png" alt="Alert!"/> *@
                    <h2 class="panel-title panel-default" tabindex ="0">
                        Authorized Use Only
                    </h2>

                </div>
                <div class="card-body" tabindex ="0">
                    You are logging in to the site.
                    <hr/>
                    <p class="top-spacing-20">
                        
                        <button class="btn btn-primary" @onclick='() => Login()' title="I agree">I agree click</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
