<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
     <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css" />
     <link rel="stylesheet" href="/lib/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="/css/buttons.dataTables.min.css" />
    <link rel="stylesheet" href="/css/jquery.dataTables.min.css" />

    <link rel="stylesheet" href="/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="/css/fsc-bootstrap.min.css" />
    @*  <link rel="stylesheet" href="/css/dataTables.bootstrap5.css" /> *@
    @* <link rel="stylesheet" href="/css/buttons.dataTables.min.css" /> *@
    @* <link rel="stylesheet" href="/css/jquery.dataTables.css" /> *@
    @* *@
    @*  <link rel="stylesheet" href="/css/jquery-ui.css" /> *@
    <link rel="stylesheet" href="/css/fsc-bootstrap.min.css" />
    <link href="/css/site.css?version=0.7" rel="stylesheet" />
    @* <link rel="icon" type="image/png" href="favicon.png" /> *@
    <HeadOutlet @rendermode="new InteractiveServerRenderMode(prerender:false)" />
</head>

<body>
    <Routes @rendermode="new InteractiveServerRenderMode(prerender:false)" />

    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/fsc-masthead-pills.js"></script>
    <script src="/js/fsc-masthead-menubar.js"></script>
    <script src="/js/store.js"></script>
    @* <script src="/js/fsc-idleTimeout.js"></script> *@
    <script src="/js/fsc-footer.js"></script>
    <script src="/js/jquery-ui-1.13.2.min.js"></script>

    <script src="/js/jquery.dataTables.js" ></script>
    <script src="/js/dataTables.bootstrap5.min.js"></script>
    <script src="/js/dataTables.buttons.min.js"></script>
    <script src="/js/buttons.bootstrap.min.js"></script>

    <script src="/js/buttons.html5.js"></script>
    <script src="/js/buttons.print.js"></script>
    <script src="/js/jszip.min.js"></script>

     <script src="/lib/chart.js/chart.min.js"></script>
 

    @*Own scripts*@
    <script src ="/js/MyDataTables.js"></script>
    <script src="/js/ChartSite.js"></script>
    <script src="/js/Utilities.js"></script>
    <script src="/js/triggerFileDownload.js"></script>

    <script src="/js/site.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
