@page "/Index"

@inject NavigationManager navigationManager
<PageTitle>Index</PageTitle>

<h1>Hello!</h1>

Welcome to the Quality Control App.

<br/>
<div class="col-16" tabindex="0">
    <button class="btn btn-primary btn_large btn-success mx-4" @onclick="() => InProcessInspection()" title="FAI"
            role="button" aria-pressed="false">
        FAI
        @*<i class="bi-pencil"></i>*@
    </button>
</div>
<br/>
@code{
    private void InProcessInspection()
    {
        navigationManager.NavigateTo("/FTCSolarConfiguration");
    }
}