@page "/ReceivingInspection"

@inject NavigationManager navigationManager
<PageTitle>ReceivingInspection</PageTitle>

<h1>Please click below Clients for the specific forms</h1>

Welcome to the Receiving Inspection

<div class="row">
    <div class="col-8" tabindex="0">
        <button class="btn btn-primary btn_large" @onclick="() => FTCSolar()" title="Receiving Inspection">
        
            FTC Solar
            @*<i class="bi-pencil"></i>*@
        </button>
    </div>
</div>

@code{

    private void FTCSolar()
    {
        navigationManager.NavigateTo("/FTCSolar");
    }
}