<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <log4net>
    <!--<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <file name="RollingFileAppender" type="log4net.Util.PatternString" 
            value="#{Log4NetLogFilePath}" xdt:Transform="SetAttributes" />
    </appender>-->
    <appender name="RollingFileAppender" type="log4net.Appender.FileAppender">
      <file value="#{Log4NetLogFilePath}" xdt:Transform="SetAttributes"/>
    </appender>

    <!--<appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">-->
    <appender name="AdoNetAppender" type="MicroKnights.Logging.AdoNetAppender, MicroKnights.Log4NetAdoNetAppender">
      <connectionType value="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient, Version=3.0.0.0,Culture=neutral,PublicKeyToken=23ec7fc2d6eaa4a5"/>
      <connectionStringName value="PCSCase" />
      <connectionStringFile value="appsettings.json" />
      <commandText value="INSERT INTO dbo.ErrorLog ([Date],[User], [Level], [Message], [Exception]) VALUES (@date,@user, @level, @message, @exception)" />
    </appender>

    <!--<appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="#{AppenderLocalEmailAddressTo}" xdt:Transform="SetAttributes" />
      <from value="#{AppenderLocalEmailAddressFrom}" xdt:Transform="SetAttributes" />
      <subject value="#{AppenderSubject}" xdt:Transform="SetAttributes" />
    </appender>-->

  </log4net>
</configuration>